{% extends 'base.jinja' %}

{% block content %}
<h1> {{games.title}} </h1>

<p>{{ games.description }}</p>
<p>{{ games.stock_level }}</p>
<p>{{ games.buy_price }}</p>
<p>{{ games.sell_price }}</p>
<p>Current stock: {{ games.stock_level }}</p>
<td><a href="/games"> Back to all games </a></td>

{% endblock %}