{% extends 'base.jinja' %}

{% block content %}
<h1> {{game.title}} </h1>

<p>{{ game.description }}</p>
<p>{{ game.stock_level }}</p>
<p>{{ game.buy_price }}</p>
<p>{{ game.sell_price }}</p>
<p>Current stock: {{ game.stock_level }}</p>
<td><a href="/games"> Back to all games </a></td>

{% endblock %}