{% extends 'base.jinja' %}

{% block content %}
<h1> {{games.title}} </h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Stock Level</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Platform</th>
            <th>Markup</th>
        </tr>
            <td><a href="/games/{{ games.id }}" class="links">{{ games.title }}</a></td>
            <td>{{ games.description }}</td>
            <td>{{ games.stock_level }}</td> 
            <td>{{ games.buy_price }}</td> 
            <td>{{ games.sell_price }}</td> 
            <td>{{ games.platform.platform_name }}</td>
            <td>{{ games.calculate_markup() }}</td>
    </table>

    <p><a href="/games/{{games.id}}/edit">Edit</a></p>
    <form action="/games/{{ games.id }}/delete" method="POST">
            <input class="delete-button" type="submit" value="Delete"/>
    </form>
    <td><a href="/games"> Back to all games </a></td>
{% endblock %}