<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
</head>
<body>
<main class="flex flex--row">
    <nav>
        <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/games">Games</a>
        </li>
        <li>
            <a href="/games/new">Add New Game</a>
        </li>
        <li>
            <a href="/platforms/new">Add New Platform</a>
        </li>
        <li>
            <a href="/platforms">Platforms</a>
        </li>
        </ul>
    </nav>
    <section id="content">
        {% block content %}

        {% endblock%}
    </section>
</main>
</body>
</html>